body {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f8;
  margin: 0;
}

.main {
  display: grid;
  grid-template-rows: max-content auto;
  height: 100%;
  width: 100%;
}

.grid {
  justify-self: center;
  align-self: center;
  display: grid;
  justify-items: center;
  align-items: center;
  gap: 15px;
}

.card {
  background-color: #f0f0f0;
  width: 60px;
  height: 60px;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #e0e0e0;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.card .front,
.card .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 8px;
  font-size: 2em;
}

.card .front {
  background-color: #e1e5ea;
}

.card .back {
  transform: rotateY(180deg);
}

.card.flipped {
  transform: rotateY(180deg);
}

.score {
  font-size: 24px;
  color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.player1 {
  flex: 1;
  text-align: left;
}

.player2 {
  flex: 1;
  text-align: right;
}

#player1Score,
#player2Score {
  padding: 0.2em;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  width: 1.5em;
  display: inline-block;
  text-align: center;
}

.current-turn {
  flex: 1;
  text-align: center;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9999;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 25px;
  border-radius: 8px;
  text-align: center;
  max-width: 320px;
  margin: 0 auto;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.modal-content h2 {
  margin: 12px 0 22px;
}

.board-params {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 14px 0;
}

button {
  padding: 12px 18px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

#winModal {
  display: none;
}

.settings {
  display: flex;
}

select {
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f7f7f7;
  margin: 5px 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-align-last: center;
  text-align: center;
  -moz-text-align-last: center;
  cursor: pointer;
}

select:focus {
  outline: none;
  box-shadow: none;
}

@media screen and (max-width: 600px) and (orientation: portrait),
  screen and (max-height: 600px) and (orientation: landscape) {
  .grid {
    gap: 12px;
  }

  .card {
    width: 54px;
    height: 54px;
  }

  .score {
    font-size: 20px;
    padding: 10px;
    height: 3em;
  }
}
